body{
    margin: 0;
    overflow-x: hidden;
    background-color: #13151B;
}

.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color: rgba(14, 16, 21, 1);
    color: white;
    width: 100vw;
    height: 48px;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    
}

.entrar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 170px;
}

.entrar .cadastrar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E9213D;
    color: white;
    border: none;
    
}