    body{
        margin: 0;
        overflow-x: hidden;
        background-color: #13151B;
    }

    .nav{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        background-color: rgba(14, 16, 21, 1);
        color: white;
        width: 100vw;
        height: 48px;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 140px;
        
    }

    .button2 {
        display: inline-block;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #090909;
        padding: 0.7em 1.7em;
        cursor: pointer;
        font-size: 18px;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center  ;
        border-radius: 0.5em;
      }
      
      .button2:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
      }
      
      .button2:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      .button2:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #009087;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
      }
      
      .button2:hover {
        color: #ffffff;
        border: 1px solid #009087;
      }
      
      .button2:hover:before {
        top: -35%;
        background-color: #009087;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }
      
      .button2:hover:after {
        top: -45%;
        background-color: #009087;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }


      .titulo{
        display: flex;
        color: white;
        flex-direction: column;
        text-align: center;
        
      }
      .cards{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex-grow: 1;
        height: 400px;
        transition-duration: 1s;
        animation-timing-function: ease-in-out;

      }

      .card1{
      height: 400px;
      width: 200px;
      transition-duration: 1s;
      animation-timing-function: ease-in-out;
      background-image: url("https://s2-techtudo.glbimg.com/-A4IbwbPtpkAjiKcDPIDT-iJxGU=/0x0:2400x1350/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/1/1/q88ar8T2WQF2YEGOkKPw/counter-strike-2-ingles.png");
      background-size: 100%;
      background-repeat: no-repeat;
      }
      .card2{
      background-image: url("https://pt.egamersworld.com/_next/image?url=https%3A%2F%2Fegamersworld.com%2Fuploads%2Fblog%2F1683218724028.jpg&w=1920&q=75");
      height: 400px;
      width: 200px;
      transition-duration: 1s;
      animation-timing-function: ease-in-out;
      }
      .card3{
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwiXFdXZMp2v5RmGg6n9mzoJSVhhLFAYKXTx64gROHWQ&s");
      background-size: 100%;
      height: 400px;
      width: 200px;
      transition-duration: 1s;
      animation-timing-function: ease-in-out;
      }
      .card4{
      background-color: aqua;
      height: 400px;
      width: 200px;
      transition-duration: 1s;
      animation-timing-function: ease-in-out;
      }

      .card1:hover {
        flex-grow: 2;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      
      .card2:hover {
        flex-grow: 2;
        background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      
      .card3:hover {
        flex-grow: 2;
        background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      
      .card4:hover {
        flex-grow: 2;
        background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      