body {
    margin: 0;
    overflow-x: hidden;
    background-color: #13151B;
  }

  .mae {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .inicio_cs{
    width: 100%;
    height: 20vw;
    background-color: antiquewhite;
}