

@font-face {
    font-family: Barrio;
    src: url(../fonts/Valorant\ Font.ttf)
  }

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #13151B;
    
  }
 

  .mae {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .inicio_valorant{
    width: 100%;
    height: 30vw;
    background-color: #EBE7E1;
    display: flex;
    flex-direction: row;
}
.inicio_direita{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.inicio_direita h1 {
    font-size: 7vw;
    color: #FF4654;
    font-family: Barrio;
    
}


.gif_inicio{
height: 30vw;
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 7%;
    
}
.card {
    border: 1px solid #FF4654;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    width: 19%;
    text-align: center;
    background-color: #0F1722;
    color: #F24464;
}
.card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.ability {
    text-align: left;
}

.sobre_valorant{
width: 100%;
height: 30vw;
background-color:#FF4654;
font-size: 1.5vw;
display: flex;
flex-direction: column;
align-items: center;
color: white;
}

.span_sobre{
    width: 60%;
    font-size: 1.7vw;
    text-align: justify;
    }
    .agentes{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: #FF4654 solid 4px;

    }
    .textos_agentes{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

.sessao_mapas{
 display: flex;
 justify-content: center;
 flex-direction: column;
 color: #F24464;
 width: 100%;
 margin-left: 30%px;
}

.sessao_mapas .card{
    width: 27%;
}


.sessao_mapas h2{
    display: flex;
    align-items: center;
}
.indroducao_mapas{
width: 100%;
display: flex;
justify-content: center;

}

.mostra_mapas{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.mostrar_agentes{
    display: flex;
    width: 100%;
    align-items: center;
}
